.lemaison {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 0;
  margin-top: 20px;
}

.about-div img {
  max-width: 100%;
}

.about-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  box-shadow: 0px 0px 3px 1px #cecece;
  transition: 250ms all;
  padding: 0;
  margin-bottom: 20px;
  max-width: 500px;
  text-align: center;
}
.lemaison-caption h2,
p {
  color: white;
  margin: 5px 0px 10px;
}

@media (min-width: 500px) {
  .lemaison {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    padding: 0;
  }
}
